extends /src/layouts/_no-header-footer

block variables
  -
    const meta = {
      title: 'My Delivery Address | MERGE',
    }

block append scripts

block modal

block content
  header.header-bar
    .header-bar__container
      h1.header-bar__page-title MY DELIVERY ADDRESS
      a.header-bar__btn-back(href="/member/" aria-label="Back")
      a.header-bar__btn-close(href="/member/" aria-label="Close")
  main.main-full
    .main-full__body
      div(class="flex flex-col gap-4")
        .card-address.is-default
          .card-address__head
            p.card-address__title Home - Life Condo Asoke
            .card-address__tool
              button(aria-label="Edit")
                +img(src="/src/images/common/ico-edit.svg" alt="")
              button(aria-label="Delete")
                +img(src="/src/images/common/ico-trash.svg" alt="")
          .card-address__info
            p.card-address__name Meena Sukjai
            p Tel. 0921267040
            p Email meena_sukjai@gmail.com
          p.card-address__location
            +img(src="/src/images/common/ico-marker.svg" alt="")
            span 111/11 Lumpinee Park Jitlada road. Suan Jitlada Dusit bangkok Thailand 10300
          div
            button.card-address__btn-set(tabindex="-1")
              +img(src="/src/images/common/ico-checked-03.svg" alt="")
              span Default

        .card-address.is-inactive
          .card-address__head
            p.card-address__title Office - ABC
            .card-address__tool
              button(aria-label="Edit")
                +img(src="/src/images/common/ico-edit.svg" alt="")
              button(aria-label="Delete")
                +img(src="/src/images/common/ico-trash.svg" alt="")
          .card-address__info
            p.card-address__name Meena Sukjai
            p Tel. 0921267040
            p Email meena_sukjai@gmail.com
          p.card-address__location 111/11 Lumpinee Park Jitlada road. Suan Jitlada Dusit bangkok Thailand 10300
          div
            button.card-address__btn-set Set As Default

    .main-full__footer
      a.btn-primary.is-outline.is-rounded(href="/member/profile/add-my-address.html")
        +img(src="/src/images/common/ico-add.svg" style="--width: 20;" alt="")
        span Add a New Delivery Address
