@use "../utilities" as *;

.nav-global {
  position: fixed;
  z-index: var(--z-index-nav-global);
  top: 0;
  left: 0;
  // display: none;
  width: 100%;
  height: 100dvh;
  background-color: var(--color-white);

  @include sm-gt {
    max-width: 375px;
  }

  &__container {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  &__header {
    display: flex;
    height: 70px;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  &__btn-close {
    display: block;
    width: 18px;
    height: 18px;
    background: url(/src/images/common/ico-close.svg) no-repeat;
    background-size: contain;
    transition: var(--hover-transition);

    &:hover {
      @include hover {
        opacity: var(--hover-opacity);
      }
    }
  }

  &__utils {
    display: flex;
    align-items: center;
    gap: 16px;

    a {
      display: block;
      transition: var(--hover-transition);

      &:hover {
        @include hover {
          opacity: var(--hover-opacity);
        }
      }
    }
  }

  &__body {
    display: flex;
    overflow: auto;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 16px 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__link {
    @include text-title-2;

    display: block;
    transition: var(--hover-transition);

    &:hover {
      @include hover {
        opacity: var(--hover-opacity);
      }
    }

    &-new {
      @include text-body-small;

      position: relative;
      top: 3px;
      display: inline-block;
      padding-left: 5px;
      color: var(--color-blue-light);
      font-weight: normal;
      vertical-align: top;
    }
  }

  &__btn-main {
    @include text-title-2;

    position: relative;
    display: block;
    width: 100%;
    transition: var(--hover-transition);

    &:hover {
      @include hover {
        opacity: var(--hover-opacity);
      }
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 18px;
      height: 18px;
      background: url(/src/images/common/ico-arrow-right-black.svg) no-repeat;
      background-size: contain;
      content: "";
      transform: translateY(-50%);
    }
  }

  &__link-icon {
    @include text-title-2;

    display: flex;
    align-items: center;
    gap: 5px;

    > img {
      display: block;
      width: 18px;
      height: 18px;
    }
  }

  a#{&}__link-icon {
    transition: var(--hover-transition);

    &:hover {
      @include hover {
        opacity: var(--hover-opacity);
      }
    }
  }

  &__favorite {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__favorite-none {
    @include text-body;

    margin-top: 5px;
    color: var(--color-gray);
  }

  &__favorite-link {
    @include text-body;

    display: block;
    transition: var(--hover-transition);

    &:hover {
      @include hover {
        opacity: var(--hover-opacity);
      }
    }
  }

  &__btn-sign {
    @include text-body-bold;

    display: flex;
    height: 38px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-black);
    border-radius: 48px;
    margin-top: 15px;
    background-color: var(--color-white);
    text-align: center;
    transition: var(--hover-transition);

    &:hover {
      @include hover {
        opacity: var(--hover-opacity);
      }
    }
  }
}
