@use "../utilities" as *;

.box-product-detail-size {
  $root: &;

  &__title {
    @include text-body-small;
  }

  &__list {
    margin: 10px -16px 0;
    overflow: auto;

    @include sm-gt {
      margin-right: 0;
      margin-left: 0;
      overflow: visible;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__track {
    display: inline-flex;
    gap: 12px;
    white-space: nowrap;
  }

  &__label {
    position: relative;
    display: block;
    flex-shrink: 0;
    cursor: pointer;

    &:first-child {
      @include sm-lte {
        margin-left: 16px;
      }
    }

    &:last-child {
      @include sm-lte {
        margin-right: 16px;
      }
    }

    > input {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;

      &:checked + #{$root}__text {
        color: var(--color-white);
        background-color: var(--color-black);
      }
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    color: var(--color-gray);
    background-color: var(--color-white);
    border-radius: 50%;
    transition:
      background 0.2s ease-out,
      color 0.2s ease-out;

    &:hover {
      @include hover {
        color: var(--color-white);
        background-color: var(--color-black);
      }
    }
  }
}
