@use "../utilities" as *;

.box-refund-info {
  padding: 20px;
  background-color: var(--color-white);
  border-radius: 5px;

  &__inner {
    padding: 16px;
    margin-top: 10px;
    background-color: var(--color-gray-3);
    border-radius: 3px;
  }

  &__list {
    dt {
      @include text-body-small;

      flex-shrink: 0;
      font-weight: normal;
      color: var(--color-gray);
    }

    dd {
      @include text-body;

      a {
        font-weight: 600;
        text-decoration: underline;

        @include hover {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  &__list-row {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid var(--color-gray-2);

    &:first-child {
      padding-top: 0;
      border-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}
