@use "../utilities" as *;

.box-member-rank-sm {
  position: relative;
  padding: 16px 24px;
  overflow: hidden;
  background-color: var(--color-black);
  border-radius: 15px;

  &::after {
    position: absolute;
    top: -42px;
    right: -22px;
    z-index: 0;
    width: 184px;
    height: 191px;
    content: "";
    background: url(/src/images/common/bg-footer-logo.svg) no-repeat;
    background-size: contain;
    opacity: 0.5;
  }

  &__inner {
    position: relative;
    z-index: 1;
  }

  &__status {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    align-items: center;

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 24px;
      height: 24px;
      content: "";
      background: url(/src/images/common/ico-arrow-right-white.svg) no-repeat;
      background-size: contain;
      transform: translateY(-50%);
    }
  }

  &__rank {
    flex-shrink: 0;
    font-family: var(--font-family-fanwood);
    font-size: calc(32 / 16 * 1rem);
    line-height: calc(42 / 32);
    background: linear-gradient(180deg, #fff 16.67%, #999 69.05%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &__point {
    @include text-title-3-regular;

    flex-shrink: 0;
    padding-right: 30px;
    color: var(--color-white);

    > span {
      @include text-title-2;
      color: var(--color-blue-light);
    }
  }

  &__bar {
    --percent: 0;

    position: relative;
    height: 5px;
    margin-top: 8px;
    overflow: hidden;
    background-color: var(--color-gray-40);
    border-radius: 5px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(var(--percent) * 1%);
      height: 100%;
      content: "";
      background-color: var(--color-blue-light);
      border-radius: 5px;
    }
  }

  &__note {
    @include text-body-small-2;

    margin-top: 10px;
    color: var(--color-gray-2);

    > span {
      font-weight: 600;
    }
  }
}
