@use "../utilities" as *;

.card-product {
  $root: &;
  position: relative;
  display: block;
  height: 100%;
  background-color: var(--color-white);

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  &__image {
    position: relative;
    aspect-ratio: 286 / 411;
    overflow: hidden;

    > img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    position: relative;
    padding: 10px 10px 15px;
  }

  &__favorite {
    position: absolute;
    top: 13px;
    right: 10px;
    z-index: 2;
    display: block;
    cursor: pointer;

    @include sm-gt {
      top: 10px;
    }

    > input {
      position: absolute;
      opacity: 0;

      &:checked + #{$root}__favorite-icon::after {
        transform: scale(1);
      }
    }
  }

  &__favorite-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    background: url(/src/images/common/ico-favorite-off.svg) no-repeat;
    background-size: contain;

    @include sm-gt {
      width: 18px;
      height: 18px;
    }

    &::after {
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      background: url(/src/images/common/ico-favorite-on.svg) no-repeat;
      background-size: contain;
      transform: scale(0);
      transition: transform 0.2s ease-out;
    }
  }

  &__name {
    @include text-body;
    padding-right: 18px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__price {
    @include text-body;

    display: flex;
    flex-wrap: wrap;
    column-gap: 7px;
    margin-top: 5px;
  }

  &__price-old {
    text-decoration: line-through;
  }

  &__price-new {
    position: relative;
    font-weight: 600;
    color: var(--color-red-2);
    text-decoration: none;
  }

  &__discount {
    @include text-body-small-2-bold;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 0 3px 1px;
    color: var(--color-white);
    background: var(--color-red-2);
  }

  &--black {
    color: var(--color-white);
    background-color: #000;

    #{$root}__favorite-icon {
      background-image: url(/src/images/common/ico-favorite-gray-off.svg);

      &::after {
        background-image: url(/src/images/common/ico-favorite-gray-on.svg);
      }
    }
  }
}
