@use "../utilities" as *;

.card-store {
  @include sm-gt {
    display: flex;
    gap: 40px;
    justify-content: space-between;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  &__figure {
    flex: 1;

    @include sm-gt {
      max-width: 458px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__content {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 16px;

    @include sm-gt {
      gap: 24px;
      width: calc(416 / 930 * 100%);
    }

    @include md-gt {
      width: 416px;
    }
  }

  &__name {
    @include text-title-3;

    padding: 16px 0;
    border-bottom: 1px solid var(--color-black);

    @include md-gt {
      @include text-title-2;

      padding-top: 40px;
      padding-bottom: 24px;
    }
  }

  &__opening {
    display: flex;
    gap: 6px;
    align-items: center;

    > img {
      display: block;
      width: 18px;
      height: auto;
    }
  }
}
