@use "../utilities" as *;

.card-tracking-status {
  position: relative;
  padding: 12px 40px 12px 30px;
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 5px;

  &:not(:first-child) {
    color: var(--color-gray);
    background-color: transparent;
    border: 1px dashed var(--color-gray);

    &::before {
      background-color: var(--color-gray-2);
    }

    &::after {
      display: none;
    }
  }

  &::before {
    position: absolute;
    top: 17px;
    left: 12px;
    width: 9px;
    height: 9px;
    content: "";
    background-color: var(--color-blue-light);
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 20px;
    height: 20px;
    content: "";
    background: url(/src/images/common/ico-checked-04.svg) no-repeat;
    background-size: contain;
    transform: translateY(-50%);
  }
}
