@use "../utilities" as *;

.container-lg {
  padding: 24px 16px 40px;

  @include sm-gt {
    padding: 60px 30px 80px;
  }

  &--about {
    padding-top: 0;
    padding-bottom: 34px;

    @include sm-gt {
      padding-top: 30px;
      padding-bottom: 120px;
    }
  }

  &__body {
    @include sm-gt {
      max-width: 1005px;
      margin: 0 auto;
    }
  }
}
