@use "../utilities" as *;

// form-layout
.form-layout {
  $root: &;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &--register {
    margin-top: 30px;
  }

  legend {
    @include text-body-bold;

    display: block;
    padding: 10px 0 16px;
    color: var(--color-black);
  }

  &__field {
    position: relative;
    padding-top: 26px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color-gray-2);
    transition: border-color 0.2s ease-out;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &:has(.form-input-text:focus) {
      border-color: var(--color-black);

      > label {
        top: 0;
      }
    }

    &.is-fill > label {
      top: 0;
    }

    &.is-error {
      border-color: var(--color-red-2);
    }

    &.is-valid::after {
      position: absolute;
      right: 0;
      bottom: 13px;
      z-index: 0;
      width: 18px;
      height: 18px;
      content: "";
      background: url(/src/images/common/ico-valid.svg) no-repeat;
      background-size: contain;
    }

    &.is-valid:has(.form-selectbox)::after,
    &.is-valid:has(.form-selectbox-icon)::after {
      right: 27px;
    }

    > label {
      @include text-body;

      position: absolute;
      top: 29px;
      left: 0;
      color: var(--color-gray);
      pointer-events: none;
      transition: top 0.2s ease-out;
    }
  }

  &__error {
    @include text-body-small-2;

    position: absolute;
    top: calc(100% + 3px);
    width: 100%;
    color: var(--color-red-2);
  }

  &__tel-code {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 8px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    #{$root}__field {
      margin-bottom: 0;
    }
  }
}

// form-input-text
.form-input-text {
  @include text-title-3-regular;

  width: 100%;
  height: 21px;
  color: var(--color-black);
  outline: none;
}

// form-selectbox
.form-selectbox {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 18px;
    height: 18px;
    pointer-events: none;
    content: "";
    background: url(/src/images/common/ico-arrow-down-black.svg) no-repeat;
    background-size: contain;
    transform: translateY(-50%);
  }

  select {
    @include text-title-3-regular;

    width: 100%;
    height: 21px;
    cursor: pointer;
    outline: none;

    &:invalid {
      color: var(--color-gray);
    }
  }
}

// form-selectbox-icon
.form-selectbox-icon {
  &__text {
    @include text-title-3-regular;

    position: relative;
    display: flex;
    column-gap: 6px;
    align-items: center;
    height: 21px;
    padding-right: 25px;
    cursor: pointer;

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 18px;
      height: 18px;
      pointer-events: none;
      content: "";
      background: url(/src/images/common/ico-arrow-down-black.svg) no-repeat;
      background-size: contain;
      transform: translateY(-50%);
    }

    > img {
      display: block;
      width: 18px;
      height: auto;
    }

    > span {
      display: block;
      flex: 1;
    }
  }
}
