@use "../utilities" as *;

// form-main
.form-main {
  &__title {
    @include text-body-bold;

    padding: 10px 0 16px;
    color: var(--color-black);
  }

  &__row {
    margin-top: 24px;
  }

  &__title + &__row {
    margin-top: 0;
  }

  &__row + &__title {
    margin-top: 20px;
  }
}

// form-input
.form-input,
.form-select-container {
  position: relative;
  padding-top: 26px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-gray-2);

  &.is-focus > label {
    top: 0;
  }

  > label {
    @include text-body;

    position: absolute;
    top: 29px;
    left: 0;
    color: var(--color-gray);
    pointer-events: none;
    transition: top 0.2s ease-out;
  }

  > input {
    &[type="text"],
    &[type="email"],
    &[type="tel"] {
      @include text-title-3-regular;

      width: 100%;
      height: 21px;
      color: var(--color-black);
      outline: none;
    }
  }
}

// form-select-container
.form-select-container {
  padding-top: 15px;
  padding-bottom: 0;
  border-color: var(--color-black);

  > label {
    top: 0;
  }
}

// form-custom-select
.form-custom-select {
  position: relative;
  z-index: 2;

  > select {
    width: 100%;
  }

  .select2-container {
    height: 45px;

    &.select2-container--open {
      background-color: var(--color-white);

      .select2-selection {
        background-color: var(--color-gray-3-50);
      }

      .select2-selection__rendered {
        padding: 0 20px;
      }

      .select2-selection__arrow {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .select2-selection {
    display: flex;
    align-items: center;
    height: 45px;
    background: none;
    border: 0;
    border-radius: 0;
  }

  .select2-selection__rendered {
    @include text-title-3-regular;

    padding: 0;
    color: var(--color-black);
  }

  .select2-selection__arrow {
    top: 50%;
    right: 20px;
    width: 18px;
    height: 18px;
    background: url(/src/images/common/ico-arrow-down-black.svg) no-repeat;
    background-size: contain;
    transform: translateY(-50%);

    > b {
      display: none;
    }
  }

  .select2-search {
    padding: 13px 20px 14px;
  }

  .select2-search__field {
    @include text-title-3-regular;

    padding: 0;
    outline: none;
    background: none;
    border: 0;
    border-radius: 0;

    &::placeholder {
      @include text-title-3-regular;

      color: var(--color-gray);
      opacity: 1;
    }
  }

  .select2-dropdown {
    border: 0;
    border-radius: 0;
  }

  .select2-results {
    border-top: 1px solid var(--color-gray-2);
  }

  .select2-results__option {
    @include text-title-3-regular;

    padding: 10px 20px;
    color: var(--color-black);

    &.select2-results__option--highlighted {
      background-color: var(--color-gray-3-50);
    }
  }

  .select2-container--default .select2-results__option--selected {
    background-color: var(--color-gray-3-50);
  }

  .select2-result-flex {
    display: flex;
    gap: 6px;
    align-items: center;

    > img {
      display: block;
      width: 18px;
      height: auto;
    }
  }
}
