@use "../utilities" as *;

.header-simple {
  flex-shrink: 0;
  height: 56px;
  background-color: var(--color-white);

  &__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-header);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    background-color: var(--color-white);
  }

  &__page-title {
    @include text-title-3;
  }

  &__btn-back {
    position: absolute;
    top: 50%;
    left: 20px;
    display: block;
    width: 18px;
    height: 18px;
    background: url(/src/images/common/ico-arrow-prev-black-02.svg) no-repeat;
    background-size: contain;
    transform: translateY(-50%);
    transition: var(--hover-transition);

    &:hover {
      @include hover {
        opacity: var(--hover-opacity);
      }
    }
  }
}
