@use "../utilities" as *;

.header-search {
  position: fixed;
  z-index: var(--z-index-header-search);
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100dvh;
  background-color: var(--color-white);

  &[aria-hidden="false"] {
    display: block;
  }

  &__container {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  &__header {
    display: none;

    @include sm-gt {
      position: relative;
      display: flex;
      width: 100%;
      height: 70px;
      flex-shrink: 0;
      justify-content: flex-end;
      padding: 15px 20px;
    }
  }

  &__header-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 39px;
    height: 42px;
    transform: translate(-50%, -50%);

    > img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__header-close {
    @include text-body;

    position: relative;
    padding-left: 23px;
    transition: var(--hover-transition);

    &:hover {
      @include hover {
        opacity: var(--hover-opacity);
      }
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 18px;
      height: 18px;
      background: url(/src/images/common/ico-close.svg) no-repeat;
      background-size: contain;
      content: "";
      transform: translateY(-50%);
    }
  }

  &__form {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    align-items: center;
    padding: 16px 20px;
    gap: 16px;
  }

  &__input {
    position: relative;
    flex: 1;
    padding: 8.5px 10px 8.5px 38px;
    border: 1px solid var(--color-black);
    border-radius: 5px;
    gap: 10px;

    &::before {
      position: absolute;
      top: 50%;
      left: 10px;
      width: 18px;
      height: 18px;
      background: url(/src/images/common/ico-search.svg) no-repeat;
      background-size: contain;
      content: "";
      transform: translateY(-50%);
    }

    input[type="text"] {
      @include text-body;

      display: block;
      width: 100%;
      outline: none;
    }
  }

  &__clear {
    position: absolute;
    top: 50%;
    right: 10px;
    display: none;
    width: 10px;
    height: 10px;
    background: url(/src/images/common/ico-delete.svg) no-repeat;
    background-size: contain;
    content: "";
    transform: translateY(-50%);
    transition: var(--hover-transition);

    &:hover {
      @include hover {
        opacity: var(--hover-opacity);
      }
    }
  }

  &__cancel {
    @include text-body;

    display: block;
    flex-shrink: 0;
    text-align: center;
    transition: var(--hover-transition);

    &:hover {
      @include hover {
        opacity: var(--hover-opacity);
      }
    }

    @include sm-gt {
      display: none;
    }
  }

  &__body {
    overflow: auto;
    flex: 1;
  }
}
