@use "../utilities" as *;

.heading-underline {
  @include text-title-2;

  padding-bottom: 22px;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid var(--color-black);

  @include sm-gt {
    @include text-title-1;
    padding-bottom: 35px;
  }
}
