@use "../utilities" as *;

.main-full {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - 56px);

  @include sm-gt {
    max-width: 650px;
    margin: 0 auto;
  }

  &__body {
    flex: 1;
    padding: 20px 16px 0;

    @include sm-gt {
      padding: 60px 20px 0;
    }
  }

  &__footer {
    flex-shrink: 0;
    padding: 16px;
    margin-top: 20px;

    @include sm-gt {
      padding: 16px 20px 32px;
    }
  }
}
