@use "../utilities" as *;

.modal-process {
  @include text-body;
  margin: auto;
  text-align: center;
  background-color: var(--color-white);

  border-radius: 8px;

  &__title {
    @include text-title-2;
    margin-bottom: 4px;
  }

  &__button {
    margin-top: 24px;
  }

  &__separated {
    position: relative;
    margin: 12px 0;
    color: var(--color-gray);
    text-align: center;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      right: calc(50% + 18px);
      left: 10px;
      height: 1px;
      content: "";
      background-color: var(--color-gray-2);
    }

    &::after {
      right: 10px;
      left: calc(50% + 18px);
    }
  }

  &__btn-close {
    position: absolute;
    top: 14px;
    right: 16px;
    z-index: 1;
    width: 18px;
    height: 18px;
    background: url(/src/images/common/ico-close.svg) no-repeat;
    background-size: contain;
    transition: var(--hover-transition);

    &:hover {
      @include hover {
        opacity: var(--hover-opacity);
      }
    }
  }
}
