@use "../utilities" as *;

.nav-favorite-slider {
  margin: 15px -16px 0;

  .splide__arrow {
    left: 28px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--color-white);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    opacity: 1;
    transition: background 0.2s ease-out;

    &:hover {
      background-color: var(--color-blue);

      &::after {
        background-image: url(/src/images/common/ico-arrow-prev-white.svg);
      }
    }

    > svg {
      display: none;
    }

    &--prev,
    &--next {
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: url(/src/images/common/ico-arrow-prev-black.svg) no-repeat;
        background-size: contain;
        content: "";
      }
    }

    &--next {
      right: 28px;
      left: auto;

      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__card {
    position: relative;
    display: block;
    overflow: hidden;
    aspect-ratio: 130 / 188;

    > img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-out;
    }

    &:hover > img {
      @include hover {
        transform: scale(1.08);
      }
    }
  }
}
