@use "../utilities" as *;

.nav-global-sub {
  --z-index: 1;

  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-index);
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  transform: translateX(101%);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-duration: 0.4s;
  transition-property: transform, visibility;

  &[aria-hidden="false"] {
    visibility: visible;
    transform: translateX(0);
  }

  &.is-hidden {
    transform: translateX(-101%);
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 20px;
  }

  &__back {
    @include text-title-2;

    position: relative;
    display: block;
    padding-left: 23px;
    transition: var(--hover-transition);

    &:hover {
      @include hover {
        opacity: var(--hover-opacity);
      }
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 18px;
      height: 18px;
      content: "";
      background: url(/src/images/common/ico-arrow-right-black.svg) no-repeat;
      background-size: contain;
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 16px 20px;
    overflow: auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__link {
    @include text-title-3;

    display: block;
    transition: var(--hover-transition);

    &:hover {
      @include hover {
        opacity: var(--hover-opacity);
      }
    }

    &-new {
      @include text-body-small;

      position: relative;
      top: 0;
      display: inline-block;
      padding-left: 5px;
      font-weight: normal;
      vertical-align: top;
      color: var(--color-blue-light);
    }
  }

  &__link-main {
    @include text-title-3;

    position: relative;
    display: block;
    width: 100%;
    transition: var(--hover-transition);

    &:hover {
      @include hover {
        opacity: var(--hover-opacity);
      }
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 18px;
      height: 18px;
      content: "";
      background: url(/src/images/common/ico-arrow-right-black.svg) no-repeat;
      background-size: contain;
      transform: translateY(-50%);
    }
  }

  &__btn-close {
    @include text-body-small;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 38px;
    margin-top: 25px;
    text-align: center;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 48px;
    transition: var(--hover-transition);

    &:hover {
      @include hover {
        opacity: var(--hover-opacity);
      }
    }
  }
}
