@use "../utilities" as *;

.search-result {
  position: relative;
  height: 100%;

  &:has(.list-product) {
    background-color: var(--color-gray-3);
  }

  &__not-found {
    position: absolute;
    top: calc(50% - 35px);
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

    @include sm-gt {
      top: calc(50% - 70px);
    }
  }

  &__not-found-image {
    width: 67px;
    margin: 0 auto;

    > img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__not-found-title {
    @include text-title-2;
    margin-top: 20px;
  }

  &__not-found-text {
    @include text-body;
    margin-top: 20px;
  }
}
