@use "../utilities" as *;

.sec-flash-sale {
  $root: &;
  display: flex;
  justify-content: center;
  padding: 18px;
  background-color: var(--color-black);

  &__inner {
    display: flex;
    column-gap: 19px;
    align-items: center;
  }

  &__text {
    display: block;
    width: 126px;
    height: auto;
  }

  &__time {
    display: flex;
    column-gap: 5px;
    align-items: center;
  }

  &__colon {
    display: block;
    align-self: flex-start;
    width: 3px;
    height: 10px;
    margin-top: 8px;
    background: url(/src/images/common/ico-colon-white.svg) no-repeat;
    background-size: contain;
  }

  &__rollers:first-child {
    #{$root}__roller {
      background-color: var(--color-red);
      box-shadow: inset 1px 1px 1px #f35656;
    }

    #{$root}__unit {
      color: var(--color-red);
    }
  }

  &__roller {
    display: flex;
    justify-content: center;
    width: 25px;
    height: 24px;
    overflow: hidden;
    background-color: var(--color-white);
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px #56c9f3;
  }

  &__digit {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: calc(15 / 16 * 1rem);
    font-weight: 600;
    line-height: 1.4;

    > span {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  &__unit {
    @include text-body-small-2-bold;

    margin-top: 3px;
    color: var(--color-white);
    text-align: center;
  }
}
