@use "../utilities" as *;

.sec-flash-sale {
  display: flex;
  justify-content: center;
  padding: 18px;
  background-color: var(--color-black);

  &__inner {
    display: flex;
    align-items: center;
    column-gap: 19px;
  }

  &__text {
    display: block;
    width: 126px;
    height: auto;
  }

  &__time {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  &__roller {
    display: flex;
    overflow: hidden;
    width: 25px;
    height: 24px;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--color-white);
    box-shadow: inset 1px 1px 1px #56c9f3;

    &--hour {
      background-color: var(--color-red);
      box-shadow: inset 1px 1px 1px #f35656;
    }
  }

  &__digit {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-size: calc(15 / 16 * 1rem);
    font-weight: 600;
    line-height: 1.4;
    // transition: transform 0.9s ease-out;

    > span {
      display: flex;
      height: 100%;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
    }
  }

  &__unit {
    @include text-body-small-2-bold;

    margin-top: 3px;
    color: var(--color-white);
    text-align: center;

    &--hour {
      color: var(--color-red);
    }
  }
}
