@use "../utilities" as *;

.table-product-store {
  width: 100%;

  thead {
    background-color: var(--color-white);

    th {
      @include text-body-bold;

      padding: 2.5px 0;
      text-align: center;

      &:not(:first-child) {
        width: 47px;
      }
    }
  }

  tbody {
    tr:first-child td {
      padding-top: 19px;
    }

    tr:last-child td {
      padding-bottom: 10px;
    }

    td {
      padding: 5px 0;
      text-align: center;

      &:first-child {
        text-align: left;
      }
    }
  }

  &__text {
    @include text-body;

    position: relative;
    padding-left: 18px;

    &::before {
      position: absolute;
      top: 2px;
      left: 0;
      width: 14px;
      height: 15px;
      background: url(/src/images/common/ico-marker.svg) no-repeat;
      background-size: contain;
      content: "";
    }
  }

  &__icon-blank,
  &__icon-checked {
    display: block;
    width: 18px;
    height: 18px;
    margin: 0 auto;
    background: url(/src/images/common/ico-blank.svg) no-repeat;
    background-size: contain;
  }

  &__icon-checked {
    background-image: url(/src/images/common/ico-checked.svg);
  }
}
