extends /src/layouts/_no-header-footer

block variables
  -
    const meta = {
      title: 'Login | MERGE',
    }

block append scripts

block modal

block content
  include /src/components/_header
  main.main-full
    .main-full__body
      .box-heading-tab
        a.box-heading-tab__link(href="/login/login-tel.html") TELEPHONE NO.
        a.box-heading-tab__link.is-active(href="/login/login-email.html") EMAIL
      form.form-layout(class="mt-8" novalidate)
        .form-layout__field.is-fill.is-valid.js-input-fill
          label(for="email") Email
          input.form-input-text(
            type="email"
            id="email"
            name="email"
            value="abcemail@gmail.com"
            required
          )

    .main-full__footer
      button.btn-primary.is-rounded.bg-blue LOGIN
      p.main-full__note.text-gray By proceeding, you agree to our #[a(href="#" target="_blank") Terms &amp; Cons] and confirm#[br]you have read our #[a(href="#" target="_blank") Private Policy]
