extends /src/layouts/_master

block variables
  -
    const meta = {
      title: 'Collection | Merge',
    }

block append scripts

block modal

block content
  .main-visual
    .main-visual__image(style="--bg-desktop:url('/src/images/home/hor-1-min.webp'); --bg-mobile:url('/src/images/home/ver-1-min.webp')")
    h1.main-visual__heading
      span MERGE X SABINA
      span.main-visual__heading-sub Collection
  // /.main-visual

  .list-product
    ul.list-product__list
      each i in Array(3)
        li
          .card-product
            a.card-product__link(href="#" aria-label="View CORA PLUNGE BRALETTE")
            figure.card-product__image
              +img(src="/src/images/products/img-product-01.webp" alt="CORA PLUNGE BRALETTE")
            .card-product__info
              label.card-product__favorite(aria-label="Add to favorite")
                input(type="checkbox" name="favorite" value="")
                span.card-product__favorite-icon
              p.card-product__name CORA PLUNGE BRALETTE
              .card-product__price
                p THB 1,500
        li
          .card-product
            a.card-product__link(href="#" aria-label="View CORA PLUNGE BRALETTE")
            figure.card-product__image
              +img(src="/src/images/products/img-product-02.webp" alt="CORA PLUNGE BRALETTE")
            .card-product__info
              label.card-product__favorite(aria-label="Add to favorite")
                input(type="checkbox" name="favorite" value="")
                span.card-product__favorite-icon
              p.card-product__name CORA PLUNGE BRALETTE
              .card-product__price
                p THB 1,500
        li
          .card-product
            a.card-product__link(href="#" aria-label="View DEVA LACE TOP")
            figure.card-product__image
              +img(src="/src/images/products/img-product-03.webp" alt="DEVA LACE TOP")
            .card-product__info
              label.card-product__favorite(aria-label="Add to favorite")
                input(type="checkbox" name="favorite" value="")
                span.card-product__favorite-icon
              p.card-product__name DEVA LACE TOP
              .card-product__price
                p THB 1,500
        li
          .card-product
            a.card-product__link(href="#" aria-label="View AVA DENIM SKIRT")
            figure.card-product__image
              +img(src="/src/images/products/img-product-04.webp" alt="AVA DENIM SKIRT")
            .card-product__info
              label.card-product__favorite(aria-label="Add to favorite")
                input(type="checkbox" name="favorite" value="")
                span.card-product__favorite-icon
              p.card-product__name AVA DENIM SKIRT
              .card-product__price
                p THB 1,500
        li
          .card-product
            a.card-product__link(href="#" aria-label="View GAIA HIGHCUT BODYSUIT")
            figure.card-product__image
              +img(src="/src/images/products/img-product-05.webp" alt="GAIA HIGHCUT BODYSUIT")
            .card-product__info
              label.card-product__favorite(aria-label="Add to favorite")
                input(type="checkbox" name="favorite" value="")
                span.card-product__favorite-icon
              p.card-product__name GAIA HIGHCUT BODYSUIT
              .card-product__price
                p THB 1,500
  // /.list-product

  include /src/components/_loader-icon.pug
