extends /src/layouts/_no-header-footer

block variables
  -
    const meta = {
      title: 'Coupon | MERGE',
    }

block append scripts

block modal

block content
  main.main-fit
    .main-fit__body
      .header-bar
        h1.header-bar__page-title COUPON
        a.header-bar__btn-back(href="/cart/" aria-label="Back")

      .box-coupon-search
        form.box-coupon-search__form(method="post" action="/cart/coupon/")
          label.box-coupon-search__input.js-input-focus
            input(
              type="text"
              name="coupon"
              placeholder="Enter coupon code here"
              value="MERGE25"
            )
          button.box-coupon-search__button Search
        .card-coupon-active
          figure.card-coupon-active__image
            +img(src="/src/images/cart/img-coupon.webp" alt="")
          .card-coupon-active__content
            p.card-coupon-active__name Name of coupon abc
            p 25% off, minimum spend THB 25,000
    .main-fit__footer
      button.btn-primary USE COUPON
