extends /src/layouts/_no-header-footer

block variables
  -
    const meta = {
      title: 'Coupon | MERGE',
    }

block append scripts

block modal

block content
  header.header-bar
    .header-bar__container
      h1.header-bar__page-title COUPON
      a.header-bar__btn-back(href="/cart/" aria-label="Back")
  main.main-full
    .main-full__body
      .box-coupon-search
        form.box-coupon-search__form(method="post" action="/cart/coupon/")
          label.box-coupon-search__input
            input(
              type="text"
              name="coupon"
              placeholder="Enter coupon code here"
              value=""
            )
          button.box-coupon-search__button Search
    .main-full__footer
      button.btn-primary(disabled) USE COUPON
