extends /src/layouts/_master

block variables
  -
    const meta = {
      title: 'Cart | MERGE',
    }

block append scripts

block modal
  include /src/components/modal/_modal-cart-remove.pug
  include /src/components/modal/_modal-coupon-remove.pug

block content
  section.p-cart
    h1.p-cart__heading CART
    .p-cart__inner
      div(class="flex flex-col gap-0.5")
        div
          .card-product-cart
            .card-product-cart__image
              +img(src="/src/images/cart/img-product-cart-01.webp" alt="")
            .card-product-cart__content
              .card-product-cart__content-upper
                .card-product-cart__head
                  p.card-product-cart__name SERENE SANCTUARY TOP
                  button.card-product-cart__btn-delete(aria-label="Remove product from cart" data-modal-open="#modal-cart-remove")
                .card-product-cart__variant
                  p White
                  p M
              .card-product-cart__content-lower
                p.card-product-cart__price THB 1,500
                .card-product-cart__control
                  button.card-product-cart__control-minus(disabled aria-label="Decrease quantity")
                  p.card-product-cart__control-qty 1
                  button.card-product-cart__control-plus(aria-label="Increase quantity")
          // /.card-product-cart
        div
          .card-product-cart
            .card-product-cart__image
              +img(src="/src/images/cart/img-product-cart-02.webp" alt="")
            .card-product-cart__content
              .card-product-cart__content-upper
                .card-product-cart__head
                  p.card-product-cart__name SERENE SANCTUARY TOP
                  button.card-product-cart__btn-delete(aria-label="Remove product from cart" data-modal-open="#modal-cart-remove")
                .card-product-cart__variant
                  p White
                  p M
              .card-product-cart__content-lower
                p.card-product-cart__price THB 1,500
                .card-product-cart__control
                  button.card-product-cart__control-minus(disabled aria-label="Decrease quantity")
                  p.card-product-cart__control-qty 1
                  button.card-product-cart__control-plus(aria-label="Increase quantity")
          // /.card-product-cart
        div
          .card-product-cart
            .card-product-cart__image
              +img(src="/src/images/cart/img-product-cart-03.webp" alt="")
            .card-product-cart__content
              .card-product-cart__content-upper
                .card-product-cart__head
                  p.card-product-cart__name MAGNETIC BLUE
                  button.card-product-cart__btn-delete(aria-label="Remove product from cart" data-modal-open="#modal-cart-remove")
                .card-product-cart__variant
                  p White/Blue
                  p XS
              .card-product-cart__content-lower
                p.card-product-cart__price THB 3,000
                .card-product-cart__control
                  button.card-product-cart__control-minus(aria-label="Decrease quantity")
                  p.card-product-cart__control-qty 2
                  button.card-product-cart__control-plus(aria-label="Increase quantity")
          // /.card-product-cart

      // /.p-cart__list

      .box-cart-summary
        .box-cart-summary__coupon
          +img.box-cart-summary__coupon-icon(src="/src/images/common/ico-coupon.svg" alt="")
          p.box-cart-summary__coupon-text Coupon applied.
          button.box-cart-summary__coupon-delete(data-modal-open="#modal-coupon-remove" aria-label="Remove coupon")
          a.box-cart-summary__coupon-link(href="/cart/coupon/")
        .box-cart-summary__info
          p.box-cart-summary__total-text Total: 3 Items
          p.box-cart-summary__total-price THB 6,000
        .box-cart-summary__info
          p.box-cart-summary__info-coupon
            +img(src="/src/images/common/ico-coupon.svg" alt="")
            |Yey, you’ve saved THB600
          del THB 6,000
        .box-cart-summary__info
          p Shipping Fee
          p THB 0
        .box-cart-summary__button
          button.btn-primary CHECK OUT
          a.btn-primary.is-outline(href="/product/") CONTINUE SHOPPING
      // /.box-cart-summary

    section.p-cart__related
      include /src/components/_sec-product-related.pug
