extends /src/layouts/_no-header-footer

block variables
  -
    const meta = {
      title: 'My Order | MERGE',
    }

block append scripts

block modal

block content
  header.header-bar
    .header-bar__container
      h1.header-bar__page-title ORDER HISTORY
      a.header-bar__btn-back(href="/member/" aria-label="Back")
      a.header-bar__btn-close(href="/member/" aria-label="Close")
  main.main-full
    .main-full__body
      div(class="flex flex-col gap-5")
        .box-order-container
          .box-order-status(class="mb-1.5")
            +img(src="/src/images/common/ico-clock.svg" alt="")
            .box-order-status__content
              p.box-order-status__title Jan 16, 2025 at 1.39 PM
          div(class="flex flex-col gap-0.5")
            .card-product-cart
              .card-product-cart__image
                +img(src="/src/images/cart/img-product-cart-01.webp" alt="")
              .card-product-cart__content
                .card-product-cart__content-upper
                  .card-product-cart__head
                    p.card-product-cart__name SERENE SANCTUARY TOP
                  .card-product-cart__variant
                    p White
                    p M
                .card-product-cart__content-lower
                  .card-product-cart__space-btw
                    p.card-product-cart__price THB 1,500
                    p.card-product-cart__qty 1

          button.btn-see-more(aria-expanded="false")
            span See more

          .box-cart-summary.box-cart-summary--border-btm
            .box-cart-summary__id
              p Order ID
              button.box-cart-summary__id-copy: span M2024082800123
            .box-cart-summary__detail
              .box-cart-summary__detail-item
                p.title-sm Total: 3 Items
                p.title-md THB 5,400
              .box-cart-summary__detail-item
                p.box-cart-summary__used-coupon
                  +img(src="/src/images/common/ico-coupon.svg" alt="")
                  |Yey, you’ve saved THB600
                del THB 6,000
              .box-cart-summary__detail-item
                p Shipping Fee
                p THB 0
          // /.box-cart-summary

        .box-order-container
          .box-order-status(class="mb-1.5")
            +img(src="/src/images/common/ico-clock.svg" alt="")
            .box-order-status__content
              p.box-order-status__title Jan 30, 2025 at 1.39 PM
          div(class="flex flex-col gap-0.5")
            .card-product-cart
              .card-product-cart__image
                +img(src="/src/images/cart/img-product-cart-04.webp" alt="")
              .card-product-cart__content
                .card-product-cart__content-upper
                  .card-product-cart__head
                    p.card-product-cart__name SERENE SANCTUARY TOP
                  .card-product-cart__variant
                    p White
                    p M
                .card-product-cart__content-lower
                  .card-product-cart__space-btw
                    p.card-product-cart__price THB 1,500
                    p.card-product-cart__qty 1

          .box-cart-summary.box-cart-summary--border-btm
            .box-cart-summary__id
              p Order ID
              button.box-cart-summary__id-copy: span M2024082800123
            .box-cart-summary__detail
              .box-cart-summary__detail-item
                p.title-sm Total: 1 Items
                p.title-md THB 1,500
              .box-cart-summary__detail-item
                p.box-cart-summary__used-coupon
                  +img(src="/src/images/common/ico-coupon.svg" alt="")
                  |Yey, you’ve saved THB600
                del THB 6,000
              .box-cart-summary__detail-item
                p Shipping Fee
                p THB 0
          // /.box-cart-summary
