@use "../utilities/index" as *;

.p-cart {
  margin-top: 24px;

  @include sm-gt {
    margin-top: 60px;
  }

  &__heading {
    @include text-title-2;
    text-align: center;

    @include sm-gt {
      @include text-title-1;
    }
  }

  &__inner {
    padding: 0 16px 20px;
    margin-top: 20px;

    @include sm-gt {
      width: 610px;
      padding: 0;
      margin: 40px auto 0;
    }
  }

  &__sold-out-text {
    @include text-body;

    position: relative;
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 6px 0 8px;
    color: var(--color-red-2);

    &::before {
      display: block;
      width: 14px;
      height: 15px;
      content: "";
      background: url(/src/images/common/ico-warning.svg) no-repeat;
      background-size: contain;
    }
  }

  &__related {
    @include sm-gt {
      margin-top: 40px;
    }
  }
}
