@use "../utilities/index" as *;

.p-cart {
  margin-top: 24px;

  @include sm-gt {
    margin-top: 60px;
  }

  &__heading {
    @include text-title-2;
    text-align: center;

    @include sm-gt {
      @include text-title-1;
    }
  }

  &__inner {
    padding: 0 16px;
    margin-top: 20px;

    @include sm-gt {
      width: 610px;
      padding: 0;
      margin: 40px auto 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}
