@use "../utilities/index" as *;

.p-product-detail {
  &__inner {
    padding: 16px 16px 0;

    @include sm-gt {
      max-width: 470px;
      padding: 46px 0 0;
      margin: 0 auto;
    }
  }

  &__color {
    margin: 18px -16px 0;

    @include sm-gt {
      margin: 34px 0 0;
    }
  }

  &__size {
    margin-top: 26px;
  }

  &__btn-add-cart {
    @include text-title-3;

    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 24px;
    background-color: var(--color-black);
    color: var(--color-white);
    transition: var(--hover-transition);

    &:hover {
      @include hover {
        opacity: var(--hover-opacity);
      }
    }
  }

  &__info {
    margin-top: 7px;

    @include sm-gt {
      margin-top: 24px;
    }
  }

  &__review {
    margin-top: 20px;
  }

  &__review-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
  }

  &__review-title {
    display: flex;
    align-items: center;
    gap: 3px;

    > img {
      display: block;
      width: 14px;
      height: 14px;
    }
  }

  &__review-score {
    @include text-title-3;
  }

  &__review-total {
    @include text-body-bold;
  }

  &__review-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__related {
    margin-top: 10px;
  }

  &__related-heading {
    @include text-title-3;

    padding: 19.5px 16px;

    @include sm-gt {
      text-align: center;
    }
  }

  &__match-list {
    padding: 2px;

    .splide {
      &[data-is-overflow="false"] {
        @include sm-lte {
          padding: 0 16px;
        }
      }

      &[data-justify-center="true"] .splide__list {
        @include sm-gt {
          justify-content: center;
        }
      }
    }
  }

  &__related-list {
    padding: 2px;

    .splide {
      &[data-justify-center="true"] .splide__list {
        @include sm-gt {
          justify-content: center;
        }
      }

      &:not(.is-active) .splide__list {
        @include sm-lte {
          display: grid;
          gap: 2px;
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}
