extends /src/layouts/_no-header-footer

block variables
  -
    const meta = {
      title: 'Order Completed | MERGE',
    }

block append scripts

block modal

block content
  header.header-bar
    .header-bar__container
      h1.header-bar__page-title THANKS FOR YOUR ORDER!
      button.header-bar__btn-close(aria-label="Close")
  main.main-full
    .main-full__body
      .box-order-result
        .box-order-result__head
          +img(src="/src/images/common/img-order-success.svg" alt="")
          h2.title-sm.mb-2 Your payment was successfully!
          p.text-gray The order confirmation has been sent to your mail.
        dl.box-order-result__detail
          .box-order-result__detail-item
            dt ORDER ID :
            dd M2024110700465
          .box-order-result__detail-item
            dt ORDER DATE :
            dd Jan 16, 2025 at 1.39 PM
          .box-order-result__detail-item
            dt ORDER ID :
            dd
              .box-order-result__status
                +img(src="/src/images/common/ico-order-prepare.svg" alt="")
                span.text-blue Preparing Your Order
      // /.box-order-result

    .main-full__footer
      p.text-body(class="text-center mb-4") Add LINE to get update on more privileges
      div(class="flex flex-col gap-3")
        button.btn-primary
          span ADD LINE
          +img(src="/src/images/common/ico-line-02.svg" style="--width:24" alt="")
        button.btn-primary.is-outline CONTINUE SHOPPING
