extends /src/layouts/_header-simple

block variables
  -
    const meta = {
      title: 'Coupon | MERGE',
    }

block append scripts

block modal

block content
  header.header-simple
    .header-simple__container
      h1.header-simple__page-title COUPON
      a.header-simple__btn-back(href="/cart/")
