extends /src/layouts/_master

block variables
  -
    const meta = {
      title: 'Product | Merge',
    }

block append scripts

block modal

block content
  - const isDiscount = true;
  include /src/components/pages/_product-content.pug
