extends /src/layouts/_master

block variables
  -
    const meta = {
      title: 'Product | Merge',
    }

block append scripts

block modal

block content
  section.sec-product-detail
    .product-gallery.js-product-gallery
      .splide
        .splide__track
          .splide__list
            each i in Array(2)
              .splide__slide
                figure.product-gallery__image
                  +img(src="/src/images/products/img-product-gallery-01.jpg" alt="")
              .splide__slide
                figure.product-gallery__image
                  +img(src="/src/images/products/img-product-gallery-02.jpg" alt="")
              .splide__slide
                figure.product-gallery__image
                  +img(src="/src/images/products/img-product-gallery-03.jpg" alt="")
    // /.product-gallery

    .sec-product-detail__inner
      .box-product-detail-head
        .box-product-detail-head__inner
          h1.box-product-detail-head__name SERENE SANCTUARY TOP
          .box-product-detail-head__share
            button.box-product-detail-head__btn-share.js-btn-share(aria-label="Share SERENE SANCTUARY TOP")
              +img(src="/src/images/common/ico-share.svg" alt="")
            label.box-product-detail-head__btn-favorite(aria-label="Add to favorite")
              input(type="checkbox" name="favorite" value="")
              span.box-product-detail-head__btn-favorite-icon
        .box-product-detail-head__price
          p THB 1,500
        .box-product-detail-head__price
          del.box-product-detail-head__price-old THB 1,500
          ins.box-product-detail-head__price-new THB 1,133
      // /.box-product-detail-head

      .sec-product-detail__color
        .product-color-slider.js-product-color-slider
          .splide
            .splide__track
              .splide__list
                .splide__slide
                  figure.product-color-slider__image(aria-current="true")
                    +img(src="/src/images/products/img-product-color-01.jpg" alt="")
                each i in Array(2)
                  .splide__slide
                    figure.product-color-slider__image
                      +img(src="/src/images/products/img-product-color-02.jpg" alt="")
                  .splide__slide
                    figure.product-color-slider__image
                      +img(src="/src/images/products/img-product-color-01.jpg" alt="")
                .splide__slide
                  figure.product-color-slider__image
                    +img(src="/src/images/products/img-product-color-01.jpg" alt="")
        // /.product-color-slider

      .sec-product-detail__size
        .box-product-detail-size
          p.box-product-detail-size__title Select a Size :
          .box-product-detail-size__list.js-product-size-slider
            .splide
              .splide__track
                .splide__list
                  .splide__slide
                    label.box-product-detail-size__label
                      input(type="radio" name="size" value="XXS")
                      span.box-product-detail-size__text XXS
                  .splide__slide
                    label.box-product-detail-size__label
                      input(type="radio" name="size" value="XS")
                      span.box-product-detail-size__text XS
                  .splide__slide
                    label.box-product-detail-size__label
                      input(type="radio" name="size" value="S")
                      span.box-product-detail-size__text S
                  .splide__slide
                    label.box-product-detail-size__label
                      input(type="radio" name="size" value="M")
                      span.box-product-detail-size__text M
                  .splide__slide
                    label.box-product-detail-size__label
                      input(type="radio" name="size" value="L")
                      span.box-product-detail-size__text L
                  .splide__slide
                    label.box-product-detail-size__label
                      input(type="radio" name="size" value="XL")
                      span.box-product-detail-size__text XL
                  .splide__slide
                    label.box-product-detail-size__label
                      input(type="radio" name="size" value="XXL")
                      span.box-product-detail-size__text XXL
        // /.box-product-detail-size

      button.sec-product-detail__btn-add-cart ADD TO CART

      .sec-product-detail__info
        .list-accordion.js-list-accordion
          .list-accordion__item
            button.list-accordion__title(aria-expanded="false") Find Item at store
            .list-accordion__body(aria-hidden="true")
              .table-info
                .table-info__head
                  p.table-info__head-text S
                  p.table-info__head-text M
                  p.table-info__head-text L
                  p.table-info__head-text XL
                .table-info__body
                  .table-info__row
                    p.table-info__text-body.table-info__text-body--marker Siam Square Soi 2
                    .table-info__icon-blank
                    .table-info__icon-blank
                    .table-info__icon-blank
                    .table-info__icon-blank
                  .table-info__row
                    p.table-info__text-body.table-info__text-body--marker Siam Square One
                    .table-info__icon-blank
                    .table-info__icon-blank
                    .table-info__icon-checked
                    .table-info__icon-blank
                  .table-info__row
                    p.table-info__text-body.table-info__text-body--marker Mega Bangna
                    .table-info__icon-blank
                    .table-info__icon-checked
                    .table-info__icon-blank
                    .table-info__icon-blank
                  .table-info__row
                    p.table-info__text-body.table-info__text-body--marker Central Rama 9
                    .table-info__icon-blank
                    .table-info__icon-blank
                    .table-info__icon-checked
                    .table-info__icon-blank
                  .table-info__row
                    p.table-info__text-body.table-info__text-body--marker Central Westville
                    .table-info__icon-blank
                    .table-info__icon-blank
                    .table-info__icon-blank
                    .table-info__icon-blank
              // /.table-info

          .list-accordion__item
            button.list-accordion__title(aria-expanded="false") Find Item at store
            .list-accordion__body(aria-hidden="true")
        // /.list-accordion

  // /.sec-product-detail

  include /src/components/_box-marquee.pug
