extends /src/layouts/_master

block variables
  -
    const meta = {
      title: 'Product | Merge',
    }

block append scripts

block modal
  include /src/components/modal/_modal-cart-added.pug

block content
  include /src/components/pages/_product.pug
