extends /src/layouts/_master

block variables
  -
    const meta = {
      title: 'Product | MERGE',
    }

block append scripts

block modal
  include /src/components/modal/_modal-cart-added.pug
  include /src/components/modal/_modal-size-guide.pug

block content
  section.p-product-detail
    .product-gallery
      .swiper.js-product-gallery
        .swiper-wrapper
          each i in Array(2)
            .swiper-slide
              figure.product-gallery__image
                +img(src="/src/images/products/img-product-gallery-01.webp" alt="")
            .swiper-slide
              figure.product-gallery__image
                +img(src="/src/images/products/img-product-gallery-02.webp" alt="")
            .swiper-slide
              figure.product-gallery__image
                +img(src="/src/images/products/img-product-gallery-03.webp" alt="")
        .swiper-pagination
    // /.product-gallery

    .p-product-detail__inner
      .box-product-detail-head
        .box-product-detail-head__inner
          h1.box-product-detail-head__name SERENE SANCTUARY TOP 2
          .box-product-detail-head__share
            button.box-product-detail-head__btn-share.js-btn-share(aria-label="Share SERENE SANCTUARY TOP")
              +img(src="/src/images/common/ico-share.svg" alt="")
            label.box-product-detail-head__btn-favorite(aria-label="Add to favorite")
              input(type="checkbox" name="favorite" value="")
              span.box-product-detail-head__btn-favorite-icon
        .box-product-detail-head__price
          p THB 1,500
      // /.box-product-detail-head

      .p-product-detail__color
        .product-color-slider
          .swiper.js-product-color-slider
            button.swiper-button-prev
            button.swiper-button-next
            .swiper-wrapper
              .swiper-slide
                a.product-color-slider__image(href="/product/")
                  +img(src="/src/images/products/img-product-color-01.webp" alt="")
              .swiper-slide
                a.product-color-slider__image(href="/product/product-02.html" aria-current="true")
                  +img(src="/src/images/products/img-product-color-02.webp" alt="")
              .swiper-slide
                a.product-color-slider__image(href="/product/product-03.html")
                  +img(src="/src/images/products/img-product-color-01.webp" alt="")
              .swiper-slide
                a.product-color-slider__image(href="/product/product-04.html")
                  +img(src="/src/images/products/img-product-color-02.webp" alt="")
              .swiper-slide
                a.product-color-slider__image(href="/product/product-05.html")
                  +img(src="/src/images/products/img-product-color-01.webp" alt="")
        // /.product-color-slider

      .p-product-detail__size
        .box-product-detail-size
          p.box-product-detail-size__title Select a Size :
          .box-product-detail-size__list
            .box-product-detail-size__track
              label.box-product-detail-size__label
                input(type="radio" name="size" value="XXS")
                span.box-product-detail-size__text XXS
              label.box-product-detail-size__label
                input(type="radio" name="size" value="XS")
                span.box-product-detail-size__text XS
              label.box-product-detail-size__label
                input(type="radio" name="size" value="S")
                span.box-product-detail-size__text S
              label.box-product-detail-size__label
                input(type="radio" name="size" value="M")
                span.box-product-detail-size__text M
              label.box-product-detail-size__label
                input(type="radio" name="size" value="L")
                span.box-product-detail-size__text L
              label.box-product-detail-size__label
                input(type="radio" name="size" value="XL")
                span.box-product-detail-size__text XL
              label.box-product-detail-size__label
                input(type="radio" name="size" value="XXL")
                span.box-product-detail-size__text XXL
        // /.box-product-detail-size

      button.p-product-detail__btn-add-cart.js-btn-cart-add ADD TO CART

      .p-product-detail__info
        .list-accordion.js-list-accordion
          .list-accordion__item
            button.list-accordion__title(aria-expanded="false") Find Item at store
            .list-accordion__body(aria-hidden="true")
              table.table-product-store
                thead
                  tr
                    th
                    th S
                    th M
                    th L
                    th XL
                tbody
                  tr
                    td: p.table-product-store__text Siam Square Soi 2
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                  tr
                    td: p.table-product-store__text Siam Square One
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                    td: i.table-product-store__icon-checked(aria-label="Available")
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                  tr
                    td: p.table-product-store__text Mega Bangna
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                    td: i.table-product-store__icon-checked(aria-label="Available")
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                  tr
                    td: p.table-product-store__text Central Rama 9
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                    td: i.table-product-store__icon-checked(aria-label="Available")
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                  tr
                    td: p.table-product-store__text Terminal 21
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                    td: i.table-product-store__icon-checked(aria-label="Available")
                  tr
                    td: p.table-product-store__text Central Westville
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
                    td: i.table-product-store__icon-blank(aria-label="Not Available")
          .list-accordion__item
            button.list-accordion__title(aria-expanded="false") Size &amp; Fit
            .list-accordion__body(aria-hidden="true")
              p This style is unisex. For man, take your normal size. For woman, take one size down than your usual size.
              br
              p Man model is 1m83 / 6'0" and is wearing a size M.Woman model is 1m79 / 5:10" and is wearing a size XS.
          .list-accordion__item
            button.list-accordion__title(aria-expanded="false") Size guide
            .list-accordion__body(aria-hidden="true")
              .box-size-guide(role="button" tabindex="0" data-modal-open="#modal-size-guide")
                +img(src="/src/images/products/img-size-guide.webp", alt="")
                p.box-size-guide__enlarge
                  +img(src="/src/images/common/ico-enlarge.svg", alt="")
                  span Enlarge a photo
          .list-accordion__item
            button.list-accordion__title(aria-expanded="false") Caring Instructions
            .list-accordion__body(aria-hidden="true")
              .box-product-instruction
                ul
                  li Wash with cold water only.
                  li Wash inside-out on a gentle cycle or handwash.
                  li Air Dry inside-out
                  li Avoid bleach-based products / stain removers and aggressive detergents
                .box-product-instruction__disclaimer
                  p.box-product-instruction__titles Care Disclaimers :
                  ul
                    li Garment color may fade over time.
                    li Denim dyes may bleed on other garments or furniture.
                    li Exposure to direct sunlight may cause discoloration/color fastness (color fade).
                    li High heat will cause warping and / or shrinkage of garment.
        // /.list-accordion

      .p-product-detail__review
        .p-product-detail__review-heading
          .p-product-detail__review-title
            p.p-product-detail__review-score 4.9
            +img(src="/src/images/common/ico-star-blue.svg" alt="")
            p.p-product-detail__review-total Review score (21)
          .p-product-detail__review-filter
            .select-review-stars.js-select-review-stars
              input(type="hidden" name="review" value="all")
              button.select-review-stars__text(aria-expanded="false") All
              .select-review-stars__options(aria-hidden="true")
                ul.select-review-stars__list
                  li(data-value="all" data-text="ALL") All
                  li(data-value="5" data-text="5 Stars")
                    .select-review-stars__stars
                      each i in Array(5)
                        span
                    p (12)
                  li(data-value="4" data-text="4 Stars")
                    .select-review-stars__stars
                      each i in Array(4)
                        span
                    p (4)
                  li(data-value="3" data-text="3 Stars")
                    .select-review-stars__stars
                      each i in Array(3)
                        span
                    p (3)
                  li(data-value="2" data-text="2 Stars")
                    .select-review-stars__stars
                      each i in Array(2)
                        span
                    p (1)
                  li(data-value="1" data-text="1 Stars")
                    .select-review-stars__stars
                      span
                    p (0)

        .p-product-detail__review-list
          .card-review
            .card-review__head
              p.card-review__name Am********
              .card-review__stars(data-score="4")
                each i in Array(5)
                  span
            .card-review__description
              p Lorem ipsum dolor sit amet consectetur. Senectus feugiat tristique risus
            figure.card-review__image
              +img(src="/src/images/products/img-review-product-01.webp" alt="")
          // /.card-review

          .card-review
            .card-review__head
              p.card-review__name Ri********
              .card-review__stars(data-score="3")
                each i in Array(5)
                  span
            .card-review__description
              p Lorem ipsum dolor sit amet consectetur. Senectus feugiat tristique risus in amet in id. Mattis neque facilisis semper parturient
            figure.card-review__image
              +img(src="/src/images/products/img-review-product-02.webp" alt="")
            button.card-review__btn-edit Edit my review
          // /.card-review

          .card-review
            p.card-review__edit-title Rate the product quality.
            .card-review__edit-stars
              each i in Array.from({ length: 5 }, (_, i) => i)
                label
                  input(type="radio" name="score" value=i)
                  span
            p.card-review__edit-note Write a review of at least 100 characters.
            .card-review__edit-textarea.js-textarea-count
              textarea Lorem ipsum dolor sit amet consectetur. Senectus feugiat tristique risus in amet in id. Mattis neque facilisis semper parturient
              p.card-review__edit-textarea-count #[span.js-number 96] Character
            button.card-review__edit-btn-save Save
          // /.card-review

      // /.p-product-detail__review

    .p-product-detail__related
      h2.p-product-detail__related-heading MATCH WITH
      .p-product-detail__match-list
        .swiper.js-product-match
          .swiper-wrapper
            .swiper-slide
              .card-product
                a.card-product__link(href="#" aria-label="View CORA PLUNGE BRALETTE")
                figure.card-product__image
                  +img(src="/src/images/products/img-product-01.webp" alt="CORA PLUNGE BRALETTE")
                .card-product__info
                  label.card-product__favorite(aria-label="Add to favorite")
                    input(type="checkbox" name="favorite" value="")
                    span.card-product__favorite-icon
                  p.card-product__name CORA PLUNGE BRALETTE
                  .card-product__price
                    p THB 1,500
            .swiper-slide
              .card-product
                a.card-product__link(href="#" aria-label="View LARA BRA TOP")
                figure.card-product__image
                  +img(src="/src/images/products/img-product-02.webp" alt="LARA BRA TOP")
                .card-product__info
                  label.card-product__favorite(aria-label="Add to favorite")
                    input(type="checkbox" name="favorite" value="")
                    span.card-product__favorite-icon
                  p.card-product__name LARA BRA TOP
                  .card-product__price
                    p THB 1,500
    // /.p-product-detail__related

    .p-product-detail__related
      include /src/components/_sec-product-related.pug

  // /.p-product-detail

  nav.breadcrumb
    ul.breadcrumb__list
      li
        a(href="#") PRODUCT
      li
        a(href="#") OUTERWEAR
      li
        a(href="#") JEANS
      li CORA PLUNGE BRALETTE

