extends /src/layouts/_master

block variables
  -
    const meta = {
      title: 'Merge',
    }
    const search = 'result'

block append scripts

block modal

block content
  include /src/components/pages/_home.pug
