doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content=('width=device-width,initial-scale=1.0,minimum-scale=1.0'))
    meta(name='format-detection' content='telephone=no')
    title MERGE
    link(rel="stylesheet" href="/src/styles/styles.scss")
  body
    style.
      body { background: none; }
      ._container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: none;
        padding: 20px;
        font-size: 1.12rem;
      }
      ._section {
        display: grid;
        width: 100%;

        & + & {
          padding-top: 30px;
          border-top: 1px solid var(--color-gray);
        }

        h2 { margin-bottom: 20px; }

        ul {
          & + & {
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid var(--color-gray-2);
          }
        }

        a:hover {
          text-decoration: underline;
        }
      }

    ._container
      ._section
        h2.title-lg Phase 1
        ul
          li: a(href="/" target="_blank") Home
          li: a(href="/index-search-notfound.html" target="_blank") Home (search not found)
          li: a(href="/index-search-result.html" target="_blank") Home (search with many results)
          li: a(href="/index-search-result-one.html" target="_blank") Home (search with one result)
          li: a(href="/index-favorite.html" target="_blank") Home (with my favorite)
        ul
          li: a(href="/collection/" target="_blank") Collection
          li: a(href="/flashsale/" target="_blank") Flash sale
        ul
          li: a(href="/product/" target="_blank") Product
          li: a(href="/product/product-02.html" target="_blank") Product (2 match with)
          li: a(href="/product/product-03.html" target="_blank") Product (4 match with)
          li: a(href="/product/discount.html" target="_blank") Product (Discount price)
      ._section
        h2.title-lg Phase 2
        ul
          li: a(href="/product/" target="_blank") Product (add to cart modal)
          li: a(href="/product/sold-out.html" target="_blank") Product (sold out)
        ul
          li: a(href="/store.html" target="_blank") Store
        ul
          li: a(href="/cart/" target="_blank") Cart
          li: a(href="/cart/cart-use-coupon.html" target="_blank") Cart (use coupon)
          li: a(href="/cart/coupon/" target="_blank") Coupon
          li: a(href="/cart/coupon/coupon-error.html" target="_blank") Coupon (Incorrect)
          li: a(href="/cart/coupon/coupon-active.html" target="_blank") Coupon (Active)
        ul
          li: a(href="/cart/address/add-address.html" target="_blank") Add delivery address
          li: a(href="/cart/address/add-address-valid.html" target="_blank") Add delivery address (valid)
          li: a(href="/cart/address/add-address-error.html" target="_blank") Add delivery address (error)
          li: a(href="/cart/address/delivery-address.html" target="_blank") Delivery address
          li: a(href="/cart/address/delivery-address-change.html" target="_blank") Delivery address (change)
        ul
          li: a(href="/cart/order/" target="_blank") Order detail
          li: a(href="/cart/order/order-detail-agree.html" target="_blank") Order detail (agree)
          li: a(href="/cart/order/order-complete.html" target="_blank") Order completed
          li: a(href="/cart/order/order-cancel.html" target="_blank") Order cancelled
        ul
          li: a(href="/login/login-tel.html" target="_blank") Login by tel.
          li: a(href="/login/login-tel-valid.html" target="_blank") Login by tel. (valid)
          li: a(href="/login/login-tel-error.html" target="_blank") Login by tel. (error)
          li: a(href="/login/login-email.html" target="_blank") Login by email
          li: a(href="/login/login-email-valid.html" target="_blank") Login by email (valid)
          li: a(href="/login/login-email-error.html" target="_blank") Login by email (error)
        ul
          li: a(href="/login/login-otp-tel.html" target="_blank") Login OTP by tel.
          li: a(href="/login/login-otp-tel-valid.html" target="_blank") Login OTP by tel. (valid)
          li: a(href="/login/login-otp-email.html" target="_blank") Login OTP by email
          li: a(href="/login/login-otp-email-valid.html" target="_blank") Login OTP by email (valid)
          li: a(href="/login/login-otp-resend.html" target="_blank") Login OTP (resend code)
        ul
          li: a(href="/register/" target="_blank") Register
          li: a(href="/register/register-valid.html" target="_blank") Register (valid)
          li: a(href="/register/register-error.html" target="_blank") Register (error)
        ul
          li: a(href="/member/" target="_blank") Member
          li: a(href="/member/member-club.html" target="_blank") Member club
