doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content=('width=device-width,initial-scale=1.0,minimum-scale=1.0'))
    meta(name='format-detection' content='telephone=no')
    title MERGE
    link(rel="stylesheet" href="/src/styles/styles.scss")
  body
    style.
      .heading {
        padding: 10px 20px;
        font-weight: bold;
        font-size: 20px;
        border-top: 1px solid #ddd;
      }
      ._list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;

        a {
          font-size: 18px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    h2.heading Phase 1
    ul._list
      li: a(href="/" target="_blank") Home
      li: a(href="/index-search-notfound.html" target="_blank") Home (search not found)
      li: a(href="/index-search-result.html" target="_blank") Home (search with many results)
      li: a(href="/index-search-result-one.html" target="_blank") Home (search with one result)
      li: a(href="/index-favorite.html" target="_blank") Home (with my favorite)
      li: a(href="/collection/" target="_blank") Collection
      li: a(href="/flashsale/" target="_blank") Flash sale
      li: a(href="/product/" target="_blank") Product
      li: a(href="/product/product-02.html" target="_blank") Product (2 match with)
      li: a(href="/product/product-03.html" target="_blank") Product (4 match with)
      li: a(href="/product/discount.html" target="_blank") Product (Discount price)

    h2.heading Phase 2
    ul._list
      li: a(href="/product/" target="_blank") Product (add to cart modal)
      li: a(href="/product/sold-out.html" target="_blank") Product (sold out)
      li: a(href="/cart/" target="_blank") Cart
      li: a(href="/cart/cart-use-coupon.html" target="_blank") Cart (use coupon)
      li: a(href="/cart/coupon/" target="_blank") Coupon
      li: a(href="/cart/coupon/coupon-error.html" target="_blank") Coupon (Incorrect)
      li: a(href="/cart/coupon/coupon-active.html" target="_blank") Coupon (Active)
      li: a(href="/cart/add-delivery-address.html" target="_blank") Add delivery address
