extends /src/layouts/_master

block variables
  -
    const meta = {
      title: 'Terms and Conditions | Merge',
    }

block append scripts

block modal

block content
  .container-md
    .container-md__body
      h1.page-title.page-title--line(class="-mx-4 md:mx-0") TERMS &amp; CONS
      div(class="mt-6 md:mt-9")
        p Lorem ipsum dolor sit amet consectetur. Semper vitae amet odio nec. Lorem nec accumsan commodo ultricies nibh semper malesuada. Amet quis enim mauris massa scelerisque. Lorem tortor donec cras ultrices interdum lobortis eu fringilla. Quis imperdiet mi feugiat egestas quam nisi in. Arcu consectetur lectus condimentum justo ipsum nibh. Ultrices in rhoncus nibh sed felis arcu. Felis elementum tempor sit diam dolor. Eros feugiat dolor at amet faucibus feugiat dignissim cras elit. Neque diam quam tempus vel mi varius urna sem. Placerat et aenean sed massa erat. Sed nec molestie tincidunt faucibus vel dui aliquet cursus.
        br
        p Tincidunt vitae massa dui suscipit nascetur congue. Sed cursus pellentesque nulla turpis urna amet pretium et tortor.
        p Velit libero libero ipsum nec etiam dictum velit. Elit convallis quisque velit nulla pharetra lobortis morbi ipsum. Odio phasellus quis placerat congue varius sit. Scelerisque aliquam proin nunc massa turpis morbi. Auctor non vitae eget tortor. Facilisis porttitor vehicula congue nibh luctus dictum in tristique. Nullam volutpat ut dictum morbi enim quam lorem.
        p Amet nunc odio integer neque lectus blandit massa massa ut. Pretium amet tortor placerat ut praesent.
        br
        p Nibh eu morbi volutpat velit auctor praesent ut. Cras amet neque suscipit pretium velit sapien ultrices feugiat in. Tortor at interdum mi id suscipit praesent mi nullam. Nunc eget ridiculus faucibus nulla elementum nec. Nisl bibendum pharetra purus nisi cras tincidunt sit.
        p Sociis pulvinar vehicula urna amet mi ac scelerisque turpis. Quisque volutpat in purus quis neque purus elit ut.
        br
        p Lorem ipsum dolor sit amet consectetur. Semper vitae amet odio nec. Lorem nec accumsan commodo ultricies nibh semper malesuada. Amet quis enim mauris massa scelerisque. Lorem tortor donec cras ultrices interdum lobortis eu fringilla. Quis imperdiet mi feugiat egestas quam nisi in. Arcu consectetur lectus condimentum justo ipsum nibh. Ultrices in rhoncus nibh sed felis arcu. Felis elementum tempor sit diam dolor. Eros feugiat dolor at amet faucibus feugiat dignissim cras elit. Neque diam quam tempus vel mi varius urna sem. Placerat et aenean sed massa erat. Sed nec molestie tincidunt faucibus vel dui aliquet cursus.
        br
        p Tincidunt vitae massa dui suscipit nascetur congue. Sed cursus pellentesque nulla turpis urna amet pretium et tortor.
        p Velit libero libero ipsum nec etiam dictum velit. Elit convallis quisque velit nulla pharetra lobortis morbi ipsum. Odio phasellus quis placerat congue varius sit. Scelerisque aliquam proin nunc massa turpis morbi. Auctor non vitae eget tortor. Facilisis porttitor vehicula congue nibh luctus dictum in tristique. Nullam volutpat ut dictum morbi enim quam lorem.
        p Amet nunc odio integer neque lectus blandit massa massa ut. Pretium amet tortor placerat ut praesent.
        br
        p Nibh eu morbi volutpat velit auctor praesent ut. Cras amet neque suscipit pretium velit sapien ultrices feugiat in. Tortor at interdum mi id suscipit praesent mi nullam. Nunc eget ridiculus faucibus nulla elementum nec. Nisl bibendum pharetra purus nisi cras tincidunt sit.
        p Sociis pulvinar vehicula urna amet mi ac scelerisque turpis. Quisque volutpat in purus quis neque purus elit ut.
