extends /src/layouts/_master

block variables
  -
    const meta = {
      title: 'Terms and Conditions | Merge',
    }

block append scripts

block modal

block content
  .container-md
    .container-md__body
      h1.page-title.page-title--line(class="-mx-4 md:mx-0") TERMS &amp; CONS
      section(class="flex flex-col gap-4 mt-6 md:mt-9")
        div
          p Welcome to Merge Official’s website. By accessing and using this website, you agree to comply with and be bound by the most current version terms and conditions of use. If you disagree with any part of these terms, you must not access or use the Merge website.
        section
          h2.text-body-bold User Responsibilities
          p If you are under the age of 18, you may use this website only with the involvement of a parent or guardian.
          p You may not use the Website if you breach these Terms of Use, if your permission to use the Website has been suspended or terminated by Merge, or if these Terms of Use as they apply to you have been terminated.
        section
          h2.text-body-bold Privacy Policy
          p Please review our Privacy Policy, which explains how we collect, use, and protect your personal information. By using this website, you consent to the practices described in the Privacy Policy.
        section
          h2.text-body-bold Intellectual Property
          p All content on this website, including text, graphics, logos, and images, is the property of Merge Official and protected by intellectual property laws.
          br
          p You may not use, reproduce, or distribute any content from this website without our express written consent.
        section
          h2.text-body-bold User-Generated Content
          p Users who contribute content to this website, including comments or reviews, must adhere to our guidelines. Inappropriate or violating content will be removed.
        section
          h2.text-body-bold Account Registration
          p If you choose to create an account on our website, you are responsible for safeguarding your account information.
        section
          h2.text-body-bold Termination of Accounts
          p We reserve the right to terminate or restrict user accounts if we suspect any violation of these Terms of Use or inappropriate conduct.
        section
          h2.text-body-bold Membership and Purchasing
          p Membership: Some areas of this website may require membership to access. Membership applications are subject to approval by Merge Official. We reserve the right to deny membership applications at our discretion.
          br
          p Purchasing: To make purchases on this website, you may be required to create an account and provide certain information. By making a purchase, you agree to our payment and shipping terms.
        section
          h2.text-body-bold Dispute Resolution
          p Any disputes arising from your use of this website will be resolved in accordance with applicable laws and regulations.
        section
          h2.text-body-bold Limitation of Liability
          p Merge Official is not responsible for any damages, direct or indirect, resulting from the use of this website or its content.
          br
          p We do not guarantee the accuracy or completeness of information provided on this website.
        section
          h2.text-body-bold Changes to Terms
          p We reserve the right to update these Terms of Use at any time. Users will be informed of changes through the website. Continued use of the website after changes constitutes acceptance of the updated terms.
        section
          h2.text-body-bold Contact Information
          p For inquiries or concerns regarding these Terms of Use, please contact us at cs@mergeofficial.co.
