extends /src/layouts/_no-header-footer

block variables
  -
    const meta = {
      title: 'Review | MERGE',
    }

block append scripts

block modal

block content
  header.header-bar
    .header-bar__container
      h1.header-bar__page-title REVIEW
      a.header-bar__btn-back(href="/member/" aria-label="Back")
      a.header-bar__btn-close(href="/member/" aria-label="Close")
  main.main-full
    .main-full__body
      .box-heading-tab
        a.box-heading-tab__link.is-active(href="/member/review/review-waiting.html") WAITING FOR REVIEW
        a.box-heading-tab__link(href="/member/review/review-history.html") REVIEW HISTORY
      div(class="flex flex-col gap-2 md:gap-4 mt-5 md:mt-10")
        .card-product-cart
          .card-product-cart__image
            +img(src="/src/images/cart/img-product-cart-01.webp" alt="")
          .card-product-cart__content
            .card-product-cart__content-upper
              .card-product-cart__head
                p.card-product-cart__name SERENE SANCTUARY TOP
              .card-product-cart__variant
                p White
                p M
            .card-product-cart__content-lower
              .card-product-cart__space-btw
                p.card-product-cart__price THB 1,500
                p.card-product-cart__qty 1
              div
                a.card-product-cart__btn-icon(href="/member/review/review-submit.html")
                  span Review
                  +img(src="/src/images/common/ico-arrow-right-black.svg" alt="")
        // /.card-product-cart

        .card-product-cart
          .card-product-cart__image
            +img(src="/src/images/cart/img-product-cart-02.webp" alt="")
          .card-product-cart__content
            .card-product-cart__content-upper
              .card-product-cart__head
                p.card-product-cart__name SERENE SANCTUARY TOP
              .card-product-cart__variant
                p White
                p M
            .card-product-cart__content-lower
              .card-product-cart__space-btw
                p.card-product-cart__price THB 1,500
                p.card-product-cart__qty 1
              div
                a.card-product-cart__btn-icon(href="/member/review/review-submit.html")
                  span Review
                  +img(src="/src/images/common/ico-arrow-right-black.svg" alt="")
        // /.card-product-cart

        .card-product-cart
          .card-product-cart__image
            +img(src="/src/images/cart/img-product-cart-03.webp" alt="")
          .card-product-cart__content
            .card-product-cart__content-upper
              .card-product-cart__head
                p.card-product-cart__name MAGNETIC BLUE
              .card-product-cart__variant
                p White/Blue
                p XS
            .card-product-cart__content-lower
              .card-product-cart__space-btw
                p.card-product-cart__price THB 3,000
                p.card-product-cart__qty 2
              div
                a.card-product-cart__btn-icon(href="/member/review/review-submit.html")
                  span Review
                  +img(src="/src/images/common/ico-arrow-right-black.svg" alt="")
        // /.card-product-cart
