.modal#modal-coupon-remove(aria-hidden="true")
  .modal__container
    .modal__inner
      .modal-process
        button.modal-process__btn-close.js-modal-close(aria-label="Close")
        p.modal-process__title DELETE COUPON?
        p Are you sure you don’t want to use this coupon?
        .modal-process__button
          button.btn-primary YES
          .modal-process__separated or
          button.btn-primary.is-outline.js-modal-close NO
