.modal.modal--size-guide#modal-size-guide(aria-hidden="true")
  .modal__container
    .modal__inner
      .modal-size-guide
        .modal-size-guide__header
          p.modal-size-guide__title Size guide
          button.modal-size-guide__btn-close.js-modal-close(aria-label="Close")
        .modal-size-guide__body
          +img(src="/src/images/products/img-size-guide.webp", alt="")
