.modal#modal-close-process(aria-hidden="true")
  .modal__container
    .modal__inner
      .modal-process
        button.modal-process__btn-close.js-modal-close(aria-label="Close")
        p.modal-process__title Want to close this process?
        p The information you have entered will not be saved#[br]and you will have to re-enter it next time
        .modal-process__button
          button.btn-primary YES, CLOSE PROCESS
          .modal-process__separated or
          button.btn-primary.is-outline.js-modal-close CONTINUE CHECK OUT
