.modal#modal-address-remove(aria-hidden="true")
  .modal__container
    .modal__inner
      .modal-process
        button.modal-process__btn-close.js-modal-close(aria-label="Close")
        p.modal-process__title Are you sure you want to delete this address?
        .modal-process__button
          button.btn-primary YES
          .modal-process__separated or
          button.btn-primary.is-outline.js-modal-close NO
