.modal#modal-login(aria-hidden="true")
  .modal__container
    .modal__inner
      .modal-process
        button.modal-process__btn-close.js-modal-close(aria-label="Close")
        p.modal-process__title LOGIN / REGISTER
        p to enjoy membership privileges and fast check out for the next purchase
        .modal-process__button
          button.btn-primary LOGIN / REGISTER
          .modal-process__separated or
          button.btn-primary.is-outline.js-modal-close CONTINUE AS A GUEST
