.modal#modal-cart-remove(aria-hidden="true")
  .modal__container
    .modal__inner
      .modal-process
        button.modal-process__btn-close.js-modal-close(aria-label="Close")
        p.modal-process__title Want to remove this item?
        p Are you sure to remove this item from your cart?
        .modal-process__button
          button.btn-primary YES
          .modal-process__separated or
          button.btn-outline.js-modal-close NO
