extends /src/layouts/_no-header-footer

block variables
  -
    const meta = {
      title: 'My Order | MERGE',
    }

block append scripts

block modal

block content
  header.header-bar
    .header-bar__container
      h1.header-bar__page-title TRACKING ORDER
      a.header-bar__btn-back(href="/member/my-order/shipped.html" aria-label="Back")
      a.header-bar__btn-close(href="/member/" aria-label="Close")
  main.main-full
    .main-full__body
      .box-tracking-order.box-tracking-order--delivered
        .box-tracking-order__inner
          +img(src="/src/images/member/ico-order-delivered-white.svg" alt="")
          div
            p.title-sm.mb-1 J&amp;T Express
            p Tracking Number: #[button.box-tracking-order__number 239485029402]

      section(class="mt-4 md:mt-5")
        h2.text-body-bold Logistics Tracking
        div(class="flex flex-col gap-2 mt-5")
          .card-tracking-status
            p #[strong(class="font-semibold") [SEGAMBUT]] Parcel has been successfully delivered.
            p.text-body-xs(class="mt-0.5") 22-01-2019 09:43
          .card-tracking-status
            p #[strong(class="font-semibold") [SEGAMBUT]] Parcel has been successfully delivered.
            p.text-body-xs(class="mt-0.5") 22-01-2019 09:43
          .card-tracking-status
            p #[strong(class="font-semibold") [SEGAMBUT]] Parcel has been successfully delivered.
            p.text-body-xs(class="mt-0.5") 22-01-2019 09:43
          .card-tracking-status
            p #[strong(class="font-semibold") [SEGAMBUT]] Parcel has been successfully delivered.
            p.text-body-xs(class="mt-0.5") 22-01-2019 09:43
          .card-tracking-status
            p #[strong(class="font-semibold") [SEGAMBUT]] Parcel has been successfully delivered.
            p.text-body-xs(class="mt-0.5") 22-01-2019 09:43
