.box-marquee
  .splide.js-marquee-slider
    .splide__track
      .splide__list
        .splide__slide
          .box-marquee__text
            p: span 30 DAYS TO RETURN
            p //  Shop safely from home via #[span LINE @MERGE]
