footer.footer#footer
  .footer__inner
    a.footer__logo(href="/")
      +img(src="/src/images/common/logo.svg" alt="MERGE")
    nav.footer__nav
      ul.footer__nav-list
        li
          a.footer__nav-link(href="/contact-us.html") CONTACT US
        li
          button.footer__nav-link(aria-expanded="false") TERM OF USE
          .footer__nav-sub(aria-hidden="true")
            ul
              li: a(href="/terms-conditions.html") TERMS &amp; CONS
              li: a(href="/private-policy.html") PRIVATE POLICY
              li: a(href="/copyright.html") COPYRIGHT
    ul.footer__sns
      li
        a(href="https://line.me/ti/p/%40mergeth" target="_blank")
          +img(src="/src/images/common/ico-line.svg" alt="Line")
      li
        a(href="https://www.facebook.com/mergeofficials/" target="_blank")
          +img(src="/src/images/common/ico-facebook.svg" alt="Facebook")
      li
        a(href="https://www.instagram.com/merge.official_?igsh=ZGF2cGlkNTJ3aDc2" target="_blank")
          +img(src="/src/images/common/ico-instagram.svg" alt="Instagram")
      li
        a(href="https://www.tiktok.com/@merge.official?_t=8oJLGxiIZsY&_r=1" target="_blank")
          +img(src="/src/images/common/ico-tiktok.svg" alt="Tiktok")
    .footer__bottom
      .footer__lang
        +img.footer__lang-icon(src="/src/images/common/ico-lang.svg" alt="")
        a(href="/en" aria-current="true") English
        a(href="/th" aria-current="false") Thailand
      .footer__copyright &copy; 2024 MERGE
// /.footer
