footer.footer
  .footer__inner
    a.footer__logo(href="/")
      img(src="/src/images/common/logo.svg" decoding="async" loading="lazy" width="146" height="26" alt="MERGE")
    nav.footer__nav
      ul.footer__nav-list
        li
          a.footer__nav-link(href="/contact-us") CONTACT US
        li
          button.footer__nav-link(aria-expanded="false") TERM OF USE
          ul.footer__nav-sub(aria-hidden="true")
            li: a(href="/terms-and-conditions") TERMS &amp; CONS
            li: a(href="/private-policy") PRIVATE POLICY
            li: a(href="/copyright") COPYRIGHT
    ul.footer__sns
      li
        a(href="#" target="_blank")
          img(src="" alt="")
// /.footer
