.header-search#header-search(aria-hidden="true")
  .header-search__container
    .header-search__header
      a.header-search__header-logo(href="/")
        +img(src="/src/images/common/logo-header.webp" alt="MERGE")
      button.header-search__header-close.js-search-close Close

    form.header-search__form#header-search-form(action="/" method="post")
      .header-search__input
        input.js-search-input(type="text" name="search" value="" placeholder="Search")
        button.header-search__clear.js-search-reset(type="reset" aria-label="Clear Search Input")
      button.header-search__cancel.js-search-close Cancel

    .header-search__body
      if search === 'result'
        include /src/components/_search-result.pug
      else if search === 'not-found'
        include /src/components/_search-not-found.pug
      else
        include /src/components/_search-recent.pug
    // /.header-search__body
// /.header-search
