header.header#header
  .header__container
    a.header__logo(href="/")
      +img(src="/src/images/common/logo-header.webp" alt="MERGE")
    a.header__logo-text(href="/")
      +img(src="/src/images/common/logo-header-text.svg" alt="MERGE")
    .header__inner
      button.header__menu#btn-header-menu(aria-label="Navigation Menu" aria-controls="nav-global" aria-expanded="false")
        span.header__menu-icon
          span
          span
      .header-utils
        button.header-utils__button#bth-header-search(aria-expanded="false" aria-controls="header-search")
          +img(src="/src/images/common/ico-search.svg" alt="Search")
        a.header-utils__button(href="/cart/")
          +img(src="/src/images/common/ico-cart.svg" alt="Cart")
          span 2
  // /.header__container

  .header__overlay#header-overlay
  include /src/components/_header-search.pug
  include /src/components/_nav-global.pug
// /.header
