.modal-cart-added(aria-hidden="true")
  .modal-cart-added__container
    .modal-cart-added__heading
      p.modal-cart-added__heading-title Product added
      a.modal-cart-added__heading-link(href="/cart") View Cart
    .modal-cart-added__product
      figure.modal-cart-added__image
        +img(src="/src/images/cart/img-product-cart-01.webp" alt="")
      .modal-cart-added__detail
        .modal-cart-added__detail-upper
          p.modal-cart-added__name SERENE SANCTUARY TOP
          .modal-cart-added__variant
            p White
            p M
        .modal-cart-added__price
          p.modal-cart-added__price-number THB 1,500
          p.modal-cart-added__price-qty 1
    button.modal-cart-added__close.js-modal-close CLOSE
