.search-recent
  p.search-recent__title Recent searches
  ul.search-recent__list
    li.search-recent__item
      a.search-recent__keyword(href="#") Cora Plunge
      button.search-recent__delete(aria-label="Delete Keyword")
    li.search-recent__item
      a.search-recent__keyword(href="#") Lara Bra
      button.search-recent__delete(aria-label="Delete Keyword")
    li.search-recent__item
      a.search-recent__keyword(href="#") Lara Bra 2
      button.search-recent__delete(aria-label="Delete Keyword")
