.search-result
  .search-result__not-found
    figure.search-result__not-found-image
      +img(src="/src/images/common/ico-not-found.svg" alt="")
    p.search-result__not-found-title Oops!
    p.search-result__not-found-text We haven’t found any results
