.search-result
  .list-product
    ul.list-product__list
      each i in Array(4)
        li
          .card-product
            a.card-product__link(href="#" aria-label="View CORA PLUNGE BRALETTE")
            figure.card-product__image
              +img(src="/src/images/products/img-product-01.webp" alt="CORA PLUNGE BRALETTE")
            .card-product__info
              label.card-product__favorite(aria-label="Add to favorite")
                input(type="checkbox" name="favorite" value="")
                span.card-product__favorite-icon
              p.card-product__name CORA PLUNGE BRALETTE
              .card-product__price
                p THB 1,500
        li
          .card-product
            a.card-product__link(href="#" aria-label="View CORA PLUNGE BRALETTE")
            figure.card-product__image
              +img(src="/src/images/products/img-product-02.webp" alt="CORA PLUNGE BRALETTE")
            .card-product__info
              label.card-product__favorite(aria-label="Add to favorite")
                input(type="checkbox" name="favorite" value="")
                span.card-product__favorite-icon
              p.card-product__name CORA PLUNGE BRALETTE
              .card-product__price
                p THB 1,500
        li
          .card-product
            a.card-product__link(href="#" aria-label="View CORA PLUNGE BRALETTE")
            figure.card-product__image
              +img(src="/src/images/products/img-product-05.webp" alt="CORA PLUNGE BRALETTE")
            .card-product__info
              label.card-product__favorite(aria-label="Add to favorite")
                input(type="checkbox" name="favorite" value="")
                span.card-product__favorite-icon
              p.card-product__name CORA PLUNGE BRALETTE
              .card-product__price
                p THB 1,500
  // /.list-product
// /.search-result
