include /src/components/_img
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content=('width=device-width,initial-scale=1.0,minimum-scale=1.0'))
    meta(name='format-detection' content='telephone=no')

    title= (meta.title || '')
    meta(name='keyword', content=(meta.keyword || ''))
    meta(name='description', content=(meta.description || ''))
    meta(property='og:title' content=(meta.title || ''))
    meta(property='og:description' content=(meta.description || ''))
    meta(property='og:image' content=(meta.image || ''))
    meta(property='og:url' content=(meta.url || ''))
    meta(property='og:type' content='website')

    //- CSS
    block css
      link(rel="stylesheet" href="/src/styles/styles.scss")

  body(id=(bodyId || null ) )
    .wrapper
      //- Header
      include /src/components/_header

      //- block content
      main#main
        block content

      include /src/components/_box-marquee.pug

      //- Footer
      include /src/components/_footer

    block modal

    //- JS
    block scripts
      script(src="/src/scripts/main.ts" type="module")
