include /src/components/_img
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content=('width=device-width,initial-scale=1.0,minimum-scale=1.0'))
    meta(name='format-detection' content='telephone=no')

    title= (meta.title || '')
    meta(name='keyword', content=(meta.keyword || ''))
    meta(name='description', content=(meta.description || ''))
    meta(property='og:title' content=(meta.title || ''))
    meta(property='og:description' content=(meta.description || ''))
    meta(property='og:image' content=(meta.image || ''))
    meta(property='og:url' content=(meta.url || ''))
    meta(property='og:type' content='website')

    //- CSS
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Arvo&family=Fanwood+Text:ital@0;1&display=swap" rel="stylesheet")
    style @layer reset, theme, root, base, libs, components, pages, utilities;
    link(rel="stylesheet" href="/src/styles/styles.scss")
    block css

  body(id=(bodyId || null ) )
    .wrapper
      //- block content
      block content

    block modal

    //- JS
    block scripts
      script(src="/src/scripts/main.ts" type="module")
